* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
}

.header {
  height: 100vh;
  background-color: brown;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background-image: url('/cover.jpg');
  background-size: cover;
}

.header > .content {
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
}

.main {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
}

.main > #bodies {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

.main > #bodies .body {
  position: absolute;
  bottom: 10%;
  border-radius: 50%;
  border: 1px solid black;
  transform-origin: center center;
  text-align: right;
}

.main > #facts {
  position: relative;
}

.main > #facts .fact {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.main > #facts .fact .image {
  border-radius: 50%;
  overflow: hidden;
  width:120px;
  height:120px;
}

.main > #facts .fact .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main > #facts .section,
.main > #facts .boost {
  position: absolute;
  left: 0;
  right: 0;
}

.main > #facts section > div {
  background-color: white;
  padding: 5px;
  margin: 10px 0;
  max-width: 400px;
}

.footer {
  height: 100vh;
  background-color: brown;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background-image: url('/cover.jpg');
  background-size: cover;
}
