* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

:root {
  --gradient-start: #2f6d9a;
  --gradient-end: #0b1020;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
}

.header {
  height: 100vh;
  background-color: brown;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background-image: url('/cover.jpg');
  background-size: cover;
  z-index:30;
}

.header > .content {
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
}

.main {

  --gradient-mid: 50%;

  background: linear-gradient(
    to bottom,
    var(--gradient-start) 0%,
    var(--gradient-end) var(--gradient-mid),
    var(--gradient-end) 100%
  );

}

.main > .content {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
}

#bodies {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  color:#ffffff;
  z-index:20;
  pointer-events: none;
  @media screen and (min-width: 768px) {
    z-index:10;
  }
}

#bodies .astronaut {
  position: absolute;
  bottom: 10%;
  transform-origin: center center;
  text-align: center;
  transform: rotate(-25deg);
}

#bodies .body {
  position: absolute;
  bottom: 10%;
  border-radius: 50%;
  border: 1px solid  var(--body-color, #eeeeee);
  transform-origin: center center;
  text-align: right;
}

#facts {
  position: relative;
  z-index:10;
  @media screen and (min-width: 768px) {
    z-index:20;
  }
}

#facts .fact {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

#facts .fact .image {
  flex:0 0 auto;
  border-radius: 50%;
  overflow: hidden;
  width:120px;
  height:120px;
}

#facts .fact .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#facts .section,
#facts .boost {
  position: absolute;
  left: 0;
  right: 0;
}

#facts .boost {
  color: #fff;
  text-align: center;
}

#facts .boost > h2 {
  font-size: 5rem;
}
#facts .boost > div {
  font-size: .85rem;
  padding:5px;
}

#facts section > div {
  background-color: rgba(255, 255, 255, .75);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  max-width: 100%;
  margin:5px;

  @media screen and (min-width: 768px) {
    max-width: 400px;
  }
}

.footer {
  height: 100vh;
  background-color: brown;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background-image: url('/cover.jpg');
  background-size: cover;
  z-index: 30;
}
